<div class="row col-12 d-flex justify-content-center"> 
  
  <h1 class="display-2">COMMERECE PRODUCT</h1>
        <div>
          //TODO: create save admin
            <a href="/user/user-admin-add" class="btn btn-success">Add a new product</a>
        </div>
  <div class="col-10 d-flex justify-content-center"> 
      
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Info</th>
      <th>UserName</th>
      <th>Cedula</th>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each admins as |admin|}}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">{{admin.Name}}</p>
            <p class="text-muted mb-0">{{admin.LastName}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="text-muted mb-0">{{admin.UserName}}</p>
      </td>
      <td>
          <p class="text-muted mb-0">{{admin.Cedula}}</p>
      </td>
      <td>
          <p class="text-muted mb-0">{{admin.Email}}</p>
      </td>
      <td>
        {{#if admin.IsActive}}
           <span class="badge badge-success rounded-pill d-inline">
            Active 
           </span>
          {{/if}}
          {{#unless admin.IsActive}}
            <span class="badge badge-danger rounded-pill d-inline">
              Inactive 
             </span>
          {{/unless}}
      </td>
      <td>
        <form action="/user/user-delete" method="post">
          <input type="hidden" value="{{admin.Id}}" name="Id"/>
          <button class="btn btn-danger">Delete</button>
        </form>
        <a href="/account/change-active-state/{{admin.Id}}"  class="btn btn-warning">
          Change status
        </a>
        <a href="/user/user-edit/{{admin.Id}}"  class="btn btn-info">
          Edit
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>  
</div>
</div>