<div class="row col-12 d-flex justify-content-center">
     <h1 class="display-2 text-center p-2">APP COMMERECES</h1>
    <div class="col-10 d-flex justify-content-center"> 
       
            <table class="table table-hover text-center table-responsive mb-0">
                <thead>
                        <tr>
                            <th class=" th-lg"><a>Name</a></th>
                            <th class="th-lg">Cnt orders</a></th>
                            <th class="th-lg">Cnt employyes</a></th>
                            <th class="th-lg">Phone</th>
                            <th class="th-lg">Op hour</th>
                            <th class="th-lg">Cl hour</th>
                            <th class="th-lg">Email</th>
                            <th class="th-lg">Status</th>
                            <th class="th-lg">Actions</th>
                        </tr>
                </thead>
                <tbody>
                        {{#each commerces as |commerce|}}
                        <tr>
                            <th scope="row"> 
                             <div class="d-flex justify-content-center">
                                <img src="{{commerce.Logo}}" 
                                style="width: 45px; height: 45px;" 
                                class="rounded-circle" 
                                alt="commerce type icon"> 
                                <p class="p-2 ">
                                    {{commerce.Name}}
                                </p>
                             </div> 
                            </th>
                            <td>{{commerce.amountOrders}}</td>
                            <td>{{commerce.amountEmployees}}</td>
                            <td>{{commerce.Phone}}</td>
                            <td>{{commerce.OpeningHour}}</td>
                            <td>{{commerce.ClousingHour}}</td>
                            <td>{{commerce.Email}}</td>
                            <td>
                                {{#if commerce.IsActive}}
                                <span class="badge bg-success d-flex justify-content-center text-white rounded-pill">Active</span>
                               {{/if}}
                              {{#unless commerce.IsActive}}
                             <span class="badge bg-danger d-flex justify-content-center text-white rounded-pill">Inactive</span>
                               {{/unless}}
                               </td>
                            <td><div class="d-flex justify-content-center text-center">
                               <form enctype="multipart/form-data" action="/commerece/commerce-change-active-status" method="post" onsubmit=" return confirm('You sure?');">
                                 <input type="hidden" value="{{commerce.Id}}" id="CommerceId" name="CommerceId" required/>
                                 <button class="btn btn-warning btn-sm">Change Status</button>
                               </form>
                            </div>
                            </td>
                         </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>