<h1 class="display-2 text-center p-2">COMMERCES</h1>
<div class="row justify-content-center">
    <div class="col-12 col-md-9 col-sm-8 mx-auto">
        {{#if IsEmpty}}
            <h3 class="text-center text-muted mt-4">
                <i class="bi bi-info-circle"></i> There are no commerces registered with this type yet
            </h3>
        {{else}}
            <div class="row">
                {{#each commerces as |commerce|}}
                    <div class="col-lg-12 col-md-12 mt-1">
                        <div class="card h-100 shadow-sm background mask mx-2">
                            <div class="card-body d-flex">
                                <!-- First part: Commerce name and logo (col-10) -->
                                <a href="{{#if commerce.IsClose}}#{{else}}/order/order-add/{{commerce.Id}} {{/if}}" class="text-decoration-none d-flex col-11">
                                    <img src="{{commerce.Logo}}" alt="{{commerce.Name}}" loading="lazy" style="height: 50px; width: 50px;" class="img-fluid mx-4 rounded-circle">
                                    <h5 class="card-title mt-2 text-primary">{{commerce.Name}}</h5>
                                    {{#if commerce.IsClose}}
                                        <p class="badge bg-danger rounded-pill mx-2 mt-2">close</p>
                                    {{/if}}
                                    
                                </a>   
                                <form action="{{#if commerce.IsFav}}/favCommerce/favCommerce-delete{{else}}/favCommerce/favCommerce-add{{/if}}" method="post" class="m-0 col-1 d-flex justify-content-center align-items-center {{#if commerce.IsFav}}bg-secondary{{else}}bg-light{{/if}}">
                                    <input type="hidden" name="Id" value="{{commerce.Id}}">
                                    <button class="btn w-100" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="{{#if commerce.IsFav}}red{{else}}gray{{/if}}" class="bi bi-balloon-heart-fill hover-effect" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>